html {
  min-width: 1040px;
  background-color: #fefefe;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

body {
  font-family: Lato, "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  tab-size: 2;
  width: 960px;
}

.btn-large {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn {
  width: 145px;
  display: inline-block;
  margin-bottom: 50 px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
}

div.section {
  position:relative;
  margin:0 0 8px 0px;
  border-top: 1px solid #E5E5E0;
}

#footer {
  margin-top: 10 px;
  clear: both;
}

#footer .inner {
  margin: 10 px;
}