html {
  min-width: 1040px;
  background-color: #fefefe;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

body {
  font-family: Lato, "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  tab-size: 2;
  width: 960px;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn-large {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn {
  width: 200px;
  display: inline-block;
  margin-bottom: 0px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
}

table {
  border-collapse: collapse;
}

.dataset-info {
  margin-top: 20px;
}

tr {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
}

th {
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

td {
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

div.section {
  position:relative;
  margin:0 0 8px 0px;
  border-top: 1px solid #E5E5E0;
}

#footer {
  margin-top: 10 px;
  clear: both;
}

#footer .inner {
  margin: 10 px;
}